/* You can add global styles to this file, and also import other style files */

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
  background: ghostwhite;
}

.mat-tab-label:not(.mat-tab-diabled) {
  opacity: 1 !important;
}

.mat-expansion-panel-body {
  padding: 10px 10px !important;
}

.mat-expansion-panel {
  margin: 0px !important;
  box-shadow: none !important;
}

.mat-expansion-panel + .mat-expansion-panel {
  border-top: 1px solid #ecf0f1;
}

.mat-expansion-panel {
  .mat-expansion-panel {
    border: 1px solid #ecf0f1;
  }
}

.mat-card {
  box-shadow: none !important;
}

.mat-list-item + .mat-list-item {
  border-top: 1px solid #ecf0f1;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}

.contrast-color {
  color: rgba(0, 0, 0, 0.54);
}

.suites {
  margin-top: 10px;
}

pre {
  margin: 0;
}

.log-wrapper + .log-wrapper {
  margin-top: 10px;
}

.fill-space {
  flex: 1 1 auto;
}

.summary-toolbar {
  height: 50px !important;

  span {
    font-size: smaller;
  }
}
