<mat-toolbar color="primary">
  <img class="logo" src="/src/assets/images/karma-logo.svg" alt="karma logo" />
  &nbsp; Material Reporter <span class="fill-space"></span>
</mat-toolbar>
<div
  class="wrapper"
  fxLayout="column"
  fxLayoutWrap
  fxLayoutAlign="space-evenly stretch center"
>
  <mat-tab-group>
    <mat-tab *ngFor="let browser of browsers">
      <ng-template mat-tab-label>
        <img
          class="browser-logo"
          [src]="browser.image"
          alt="{{ browser.name }} logo"
        />
        {{ browser.name }}
      </ng-template>
      <mat-toolbar *ngIf="env[browser.id].summary" class="summary-toolbar">
        <span
          [ngClass]="{
            'green-color': env[browser.id].summary.failed === 0,
            'red-color': env[browser.id].summary.failed !== 0
          }"
          class="spec-info"
          ><pre>
Ran {{ env[browser.id].summary.total || 0 }} {{
              env[browser.id].summary.total != 1 ? 'specs' : 'spec'
            }}, {{ env[browser.id].summary.skipped || 0 }} skipped, {{
              env[browser.id].summary.failed || 0
            }} failed</pre></span
        >
        <span class="fill-space"></span>
        <span
          [ngClass]="{
            'green-color': env[browser.id].summary.failed === 0,
            'red-color': env[browser.id].summary.failed !== 0
          }"
          class="time-info"
        >
          <pre>
finished in {{ env[browser.id].summary.totalTime / 1000 || 0 }}s</pre>
        </span>
      </mat-toolbar>
      <mat-card class="browser-error" *ngIf="env[browser.id]?.error">
        <mat-card-header>
          <mat-card-title> Browser Error </mat-card-title>
        </mat-card-header>
        <mat-card-content class="red-color">
          <pre>
            {{ env[browser.id].error.message || env[browser.id].error }}</pre
          >
        </mat-card-content>
      </mat-card>
      <mat-card
        class="no-tests"
        *ngIf="
          !env[browser.id]?.error &&
          env[browser.id].info &&
          env[browser.id].info.total == 0
        "
      >
        <mat-card-header>
          <mat-card-title> No Tests </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Please add some tests to see the results
        </mat-card-content>
      </mat-card>
      <mat-card
        class="logs"
        *ngIf="
          !env[browser.id]?.error &&
          env[browser.id].info &&
          env[browser.id].info.total != 0 &&
          logs[browser.id].length > 0
        "
      >
        <mat-card-header>
          <mat-card-title> Logs </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div
            class="red-color log-wrapper"
            *ngFor="let log of logs[browser.id]"
          >
            [{{ log.fullName }}]:
            <pre>{{ log.log }}</pre>
          </div>
        </mat-card-content>
      </mat-card>
      <app-suite-info
        [expandSuites]="settings.expandSuites"
        *ngIf="!env[browser.id]?.error && env[browser.id].info"
        [suiteInfo]="env[browser.id].info.specs"
      ></app-suite-info>
    </mat-tab>
  </mat-tab-group>
</div>
